<body>
  
    <div style="display: flex;
    justify-content: space-between;  align-items: center; ">
      <img
        class="zoomBoton img_head "
        src="assets\new.png"
        (click)="NuevaCompra()"
        data-toggle="modal"
        data-target="#modalCompra"
      />
      <div [hidden] ="true" >
        <input class="date_in" type="date" name="desde" id="desde" [(ngModel)] = "fechas.desde">
        <img class="zoomBoton"src="assets\buscar.png" style="width: 80px;" alt="" (click) ="comprasPorFechas()" >
        <input class="date_in"  type="date" name="hasta" id="hasta" [(ngModel)]= "fechas.hasta" >
      </div>
      <img
      class="zoomBoton img_head"
      src="assets\anular.png"
      (click)="cargarComprasAnuladas()"
      [hidden] ="servicio.anular"
     />

   

     <img
    class="zoomBoton img_head"
    src="assets\actualizar.png"
    (click)="cargarCompras()"
    [hidden] ="!servicio.anular"

  />
    </div>


  

  

    
  
  <div class="div_padre">
    <div class="my-3 p-3 bg-white rounded " style="box-shadow: 0 .125rem .25rem rgba(109,82,116,15.075)!important;">
      <h5 class="pb-2 mb-0" style=" FONT-SIZE: 20PX;
      TEXT-ALIGN: CENTER;
   border-bottom: 1px solid #EE477F;"  [hidden] ="!servicio.anular">Compras  anuladas</h5>
      <h5 class="pb-2 mb-0" style=" FONT-SIZE: 20PX;
      TEXT-ALIGN: CENTER;
   border-bottom: 1px solid #EE477F;"  [hidden] ="servicio.anular">Compras</h5>
      
      
     <div
        data-toggle="modal"
        data-target="#modalCompra"
        (click)="abrirDetalles(compra)"
        class="media text-muted pt-3 zoomBoton"
        *ngFor="let compra of servicio.listaCompras"
      >
    
        <div
          class="media-body pb-3 mb-0 small lh-125 "
          style="display: flex; justify-content: space-evenly; border-bottom: 1px solid #EE477F;"
        >
        <img   [hidden] ="servicio.anular" style="width: 43px;" src="assets\pagado.png" alt="">
        
        <img   [hidden] ="!servicio.anular" style="width: 43px;" src="assets\anulado.png" alt="">

          <strong class="d-block text-gray-dark"
            >Proveedor: {{ compra.proveedor }}</strong
          >
          <p>Fecha: {{ compra.fecha }}</p>

          <p class="p_ocultar_mobile" >Total: {{ compra.total }}</p>
        </div>
      </div> 
    </div>
  </div>
</body>

<app-modal-compra></app-modal-compra>